---
import { getLaunchById, getLatestLaunches } from '../../services/spacex';
import Layout from '../../layouts/Layout.astro';

export const prerender = false; //server

const { id } = Astro.params;
let launch;
if (id) {
  launch = await getLaunchById({ id });
}
// export async function getStaticPaths() {
//   const launches = await getLatestLaunches();
//   return launches.map((launch) => ({
//     params: {
//       id: launch.id,
//     },
//   }));
// }
---

<Layout title=`Lanzamiento ${launch?.id}`>
  <article>
    <img
      class="w-52 h-auto"
      src=`${launch?.links?.patch.small}`
      alt=`${launch?.name}`
    />
    <h2 class="text-4xl text-white font-bold">
      Launch #{launch?.flight_number}
    </h2>
    <p class="text-lg">{launch?.details}</p>
  </article>
</Layout>
